<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
    <nav>
        <div class="navigation">
            <div class="nav-name">
                <h1>Business-Name</h1>
            </div>
            
            <div class="nav-butons">
                <ul>
                    <li><button id="signup-button"class="nav-button">Sign Up</button></li>
                    <li><button id="signin-button"class="nav-button">Sign In</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero">
        <div class="hero-text">
            <h2>Enhance your<br>performance.</h2>
            <h3>take your game to the<br>next level</h3>
                <button id="hero-button" class="nav-button">Sign Up<span class="iconify" data-icon="akar-icons:arrow-right"></span></button>
        </div>
        <div class="hero-image">
            <img src="../static/images/FAe0ohtXoA8Lx8b-PhotoRoom-edit.svg" alt="Ronaldo"> 
        </div>
        <span class="iconify hero-down-arrow" data-icon="ep:arrow-down-bold" onclick="location='#about'"></span>
    </div>

    <div class="about" id='about'>
        <div class="our-people about-section" > 
            a
        </div>
        <div class="our-story about-section"> 
            a
        </div>

    </div>

    <div class="our-product">


    </div>

    <footer>
        <p>&#169;Business-name</p>
    </footer>
    <script src="/static/javasript/home.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</body>
</html>