<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
    <nav>
        <div class="navigation">
            <div class="nav-name">
                <h1>Business-Name</h1>
            </div>
            
            <div class="nav-butons">
                <ul>
                    <li><button id="signup-button"class="nav-button">SignUp</button></li>
                    <li><button id="signin-button"class="nav-button">SignIn</button></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero">

    </div>
    <script src="/static/javasript/home.js"></script>

</body>
</html>