<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
    <div class="sign-wrapper signup-wrapper">
        <div class="sign-wrapper signin-wrapper">
            <div class="sign">
                <div class="sign-section sign-section-blue"> 
                    <div class="sign-formwrapper">
                        <p>Sign Up.</p>
                        <form action="" method="post">
                            <div>
                                <input type="text" class="sign-text" placeholder="username" name="" id="">
                                <br>
                                <input type="email" class="sign-text"  placeholder="email" name="" id="">
                            </div>
                            <div> 
                                <input type="password" class="sign-text"  placeholder="password" name="" id="">
                                <br>
                                <input type="password" class="sign-text"  placeholder="confirm password" name="" id="">
                            </div>
                           
                            <input type="button" class="button signin-button" value="sign up">

                        </form>
                    </div>
                </div>
                <div class="sign-section">
                    <div class="signup-section-signin">
                        <p>Already Have a <br>account?</p>
                        <button class="button signup-button" onclick="location.href='/signin';">Sign in<span class="iconify" data-icon="akar-icons:arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>