{% extends 'dashboard_template.html' %}


{% block content %}


<div class="dashboard-body-element dashboard-body-first dashboard-body-account-first">

    <div class="dashboard-body-icon dashboard-body-tag">
        <span class="iconify" data-icon="bx:user"></span>
    </div>

    <div class='dashboard-account-info-wrapper'>

        <p class="dashboard-account-info-username">{{user.username | capitalize}}</p>

        {% if current_user.username == user.username %}
        {% if programscreated |length == 0 %}<p class="dashboard-account-info-subtitle">You have created 0 programs.</p>
        {% elif programscreated |length == 1 %} <p class="dashboard-account-info-subtitle">You have created 1 program.
        </p>
        {% else %}
        <p class="dashboard-account-info-subtitle">You have created {{programscreated |length}} programs</p>
        {% endif%}
        {% else %}

        {% if programscreated |length == 0 %}<p class="dashboard-account-info-subtitle">This user has created 0
            programs.
        </p>

        {% elif programscreated|length == 1 %} <p class="dashboard-account-info-subtitle">This user has created 1
            program.
        </p>
        {% else %}
        <p class="dashboard-account-info-subtitle">This user has created {{programscreated |length}} programs
        </p>
        {% endif%}
        {% endif %}

        {% if current_user.username == user.username %}
        <div class="dashboard-account-info-settings">
            <span class="iconify" data-icon="carbon:settings"></span>
            <a class="dashboard-account-info-settings-button" href="/signout">Log out</a>
            <a id='dashboard-account-info-settings-editinfo' class="dashboard-account-info-settings-button">edit
                info</a>
            <a id='dashboard-account-info-settings-deleteaccount' class="dashboard-account-info-settings-button">delete
                account</a>


        </div>
        {% endif %}

    </div>
</div>



<div class="dashboard-body-element dashboard-account-programs-wrapper">
    <div class="dashboard-account-programs">
        {% for program in programscreated%}
        <div class="dashboard-account-programs-card">
            <p> {{program.name}}</p>

            {% if program.cnt == 1 %}
            <p> {{program.cnt}} user favorited this program.</p>
            {% else %}
            <p> {{program.cnt}} users favorited this program.</p>
            {% endif %}
            <a onclick="location.href= '/program/{{program.id}}'">more...</a>
        </div>

        {% endfor %}
    </div>




</div>



<div id="dashboard-account-modal" class="dashboard-modal-wrapper">
    <div id='dashboard-account-modal-editinfo' class="dashboard-account-modal">
        <div id='dashboard-account-modal-editinfo-close' class="dashboard-account-modal-close">
            <p>&#9547;</p>
        </div>

        <p class="dashboard-account-modal-form-title">Edit info</p>

        <div class="dashboard-account-modal-form-error-wrapper" id='dashboard-account-modal-form-error-edit-wrapper'>
            <p class="dashboard-account-modal-form-error-message" id='dashboard-account-modal-form-error-edit-message'>
            </p>
            <p class="dashboard-account-modal-form-error-close" id='dashboard-account-modal-form-error-edit-close'>
                &#9547;
            </p>
        </div>

        <p class="dashboard-account-modal-form-paragraph">To Edit your account please enter your password. </p>

        <input type="text" placeholder="username" class="dashboard-account-modal-form-input"
            id='dashboard-account-modal-form-username' maxlength="150" value="{{user.username}}"><br>
        <input type="password" placeholder="password" class="dashboard-account-modal-form-input"
            id='dashboard-account-modal-form-password-edit' maxlength="150"><br>
        <button class="button dashboard-account-modal-form-button" id='dashboard-account-modal-form-edit'>Edit</button>


    </div>
    <div id='dashboard-account-modal-deleteaccount' class="dashboard-account-modal">
        <div id='dashboard-account-modal-deleteaccount-close' class="dashboard-account-modal-close">
            <p>&#9547;</p>
        </div>

        <p class="dashboard-account-modal-form-title">Delete</p>
        <div class="dashboard-account-modal-form-error-wrapper" id='dashboard-account-modal-form-error-delete-wrapper'>
            <p class="dashboard-account-modal-form-error-message"
                id='dashboard-account-modal-form-error-delete-message'></p>
            <p class="dashboard-account-modal-form-error-close" id='dashboard-account-modal-form-error-delete-close'>
                &#9547;
            </p>
        </div>
        <p class="dashboard-account-modal-form-paragraph">To delete your account please enter your password. </p>

        <input type="password" placeholder="password" class="dashboard-account-modal-form-input"
            id='dashboard-account-modal-form-password-delete' maxlength="150"><br>
        <button class="button dashboard-account-modal-form-button"
            id='dashboard-account-modal-form-delete'>delete</button>

    </div>
</div>

<script>
    var username = ('{{ current_user.username }}')
</script>

<script src="{{url_for('static' , filename='javascript/dashboard-account.js')}}"></script>

<script src="{{url_for('static' , filename='javascript/dashboard-account-request.js')}}"></script>


{% endblock %}