{% extends 'dashboard_template.html' %}


{% block content %}

<div class="dashboard-body-element dashboard-body-first">
    <form method="post" class="dashboard-browse-form">
        {{ form.csrf_token }}
        {{ form.query( class="dashboard-browse-form-text", id="dashboard-browse-form-text") }}
        {{ form.filter(class="dashboard-browse-form-select", id="dashboard-browse-form-order") }}
        {{ form.submit(class="button dashboard-browse-form-search") }}
    </form>

</div>

<div class="dashboard-body-element dashboard-body-browse">
    <div class="dashboard-browse-program">
        <div id="dashboard-browse-programs" class="dashboard-browse-programs">
            <template id="dashboard-browse-program-template">
                <div class="dashboard-browse-program-card">
                    <p id="dashboard-browse-program-card-title" class="dashboard-browse-program-card-title"></p>
                    <a id="dashboard-browse-program-card-user" class="dashboard-browse-program-card-user"> </a>
                    <p id="dashboard-browse-program-card-likes" class="dashboard-browse-program-card-likes"> </p>
                    <a id="dashboard-browse-program-card-more" class='dashboard-browse-program-card-more'>more...</a>
                </div>
            </template>


        </div>

        <div id='dashboard-browse-program-sentinel'>
            <div class="loader"></div>

        </div>

    </div>
</div>

<script>
    var query = '{{query}}'
    var orderby = '{{orderby}}'
</script>
<script src="{{url_for('static' , filename='javascript/dashboard-browse.js')}}"></script>
{% endblock %}