{% extends 'dashboard_template.html' %}


{% block content %}
<div class=" dashboard-body-element dashboard-body-first dashboard-body-create">
    <form class="create-form " action="" method="post">
        <label for="" class="create-form-label">Create.</label> <br><br>
        <input type="text" name="" id="" placeholder="Name" class="create-form-element create-form-text">
        <br>
        <input type="text" name="" id="" placeholder="Description" class="create-form-element create-form-text">
        <br>

        <div id="dashboard-create-showmodal"
            class="create-form-element create-form-exercise create-form-exercise-activeplus">
            <div class="create-form-exercise-plus">
                <span class="iconify" data-icon="charm:plus" style="font-size: 70px"></span>
            </div>
        </div>

        <br>
        <input type="submit" value="Create" class="button create-form-button create-form-submit">

    </form>
</div>


<div id="dashboard-create-exercise-modal" class="dashboard-create-modal-wrapper">
    <div class="dashboard-create-exercise-modal">
        <div class="dashboard-create-modal-content">
            <div class="dashboard-create-modal-form">
                <div class="dashboard-create-modal-forminputs">
                    <p> Filter by</p>
                    <input type="text" class="dashboard-create-modal-text" name="" id="dashboard-create-modal-text"
                        placeholder="keywords">
                    <select name="comp_select" id="dashboard-create-modal-select" class="dashboard-create-modal-select">
                        <option value="Type" selected="selected">Type</option>

                        {% for type in types %}
                        {% if type.type == output %}
                        <option value="{{ type.type }}" selected>{{ type.type|capitalize }}</option>
                        {% else %}
                        <option value="{{ type.type}}">{{ type.type|capitalize }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button id='dashboard-create-modal-search'
                        class="dashboard-create-modal-search button">Search</button>

                </div>

            </div>

            <div id='dashboard-create-modal-exercise' class="dashboard-create-modal-exercise">
                <template id='dashboard-create-modal-template'>
                    <div class="dashboard-create-modal-exercisesbody" id='dashboard-create-modal-exercisesbody'>
                        <p class='dashboard-create-modal-exercisesbody-title'
                            id='dashboard-create-modal-exercisesbody-title'></p>
                        <p id='dashboard-create-modal-exercisesbody-subtitle'></p>
                    </div>
                </template>
                <div id='dashboard-create-modal-loader' class="dashboard-create-modal-loader"></div>
                <p id='dashboard-create-modal-message'>sorry, we couldnt find
                    anything to match your search.</p>
            </div>
            <div class="dashboard-create-modal-submit">
                <button class="dashboard-create-modal-button-cancel button"
                    id="dasboard-create-modal-close">cancel</button>
                <button class="dashboard-create-modal-button button" id="dasboard-create-modal-add">add</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static' , filename='javascript/dashboard-create-request.js')}}"></script>
<script src="{{url_for('static' , filename='javascript/dashboard-create.js')}}"></script>

{% endblock %}