<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="dashboard-wrapper">
        <div class="dashboard-navtop">
            <form method="POST" class="dashboard-navsearch" id='dashboard-navsearch'>
                <input type="text" placeholder="Search" />
                <span class="iconify" data-icon="ant-design:search-outlined" style="font-size: 20px"
                    onclick=" document.getElementById('dashboard-navsearch').submit();"></span>
            </form>
        </div>

        <div class="dashboard-nav-sticky dashboard-navleft">
            <div class="dashboard-navlogo">
                <p>business-Name</p>
            </div>

            <ul class="dashboard-navnavigation">
                <li>
                    <div id='dashboard-nav-home' class="dashboard-nav-navelement"
                        onclick="location.href = '/dashboard';">
                        <div id='dashboard-nav-home-icn' class="dashboard-nav-navelement-icn">
                            <span class="iconify" data-icon="carbon:dashboard" style="font-size: 20px"></span>
                        </div>
                        <p>Home</p>
                    </div>
                </li>
                <li>
                    <div id='dashboard-nav-browse' class="dashboard-nav-navelement"
                        onclick="location.href = '/browse';">
                        <div id='dashboard-nav-browse-icn' class="dashboard-nav-navelement-icn">
                            <span class="iconify" data-icon="ant-design:search-outlined" style="font-size: 20px"></span>
                        </div>
                        <p>Browse</p>
                    </div>
                </li>

                <li>
                    <div id='dashboard-nav-account' class="dashboard-nav-navelement"
                        onclick="location.href = '/account';">
                        <div id='dashboard-nav-account-icn' class="dashboard-nav-navelement-icn">
                            <span class="iconify" data-icon="bx:user" style="font-size: 20px"></span>
                        </div>
                        <p>Account</p>
                    </div>
                </li>
                <li>
                    <div id='dashboard-nav-create' class="dashboard-nav-navelement"
                        onclick="location.href = '/create';">
                        <div id='dashboard-nav-create-icn' class="dashboard-nav-navelement-icn">
                            <span class="iconify" data-icon="charm:plus" style="font-size: 20px"></span>
                        </div>
                        <p>Create</p>
                    </div>
                </li>
            </ul>
            <a class="dashboard-navlogout" href="/signout">
                <span class="iconify" data-icon="ooui:log-out-ltr"></span> Log Out</a>
        </div>

        <div class="dashboard-body">{% block content %} {% endblock %}</div>
    </div>

    <script src="{{url_for('static' , filename='javascript/dashboard-nav.js')}}"></script>
</body>

</html>