{% extends 'dashboard_template.html' %}


{% block content %}
<div class=" dashboard-body-element dashboard-body-first dashboard-body-exercise-first">
    <div class="dashboard-body-icon ">
        <span class="iconify" data-icon="map:gym"></span>
    </div>
    <div class="dashboard-body-tag-name dashboard-body-tag">
        <p><strong>Name</strong></p>
        <p>{{id}}</p>
    </div>
    <div class="dashboard-body-tag-type dashboard-body-tag">
        <p><strong>Type</strong></p>
        <p>{{id}}</p>
    </div>
</div>
{% endblock %}