<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FootballHero</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <div class="home-navigation" id="home-navigation">
    <div class="home-nav-logo">
      <h1 class="home-nav-name">FootballHero</h1>
      <div class="home-nav-image">

      </div>
    </div>

    <div class="home-nav-butons" id="home-nav-butons">
      <ul>
        <li>
          <button id="home-signup-button" class="home-nav-button button" onclick="location.href='/signin';">
            Sign In
          </button>
        </li>
        <li>
          <button id="home-signin-button" class="home-nav-button button" onclick="location.href='/signup';">
            Sign Up
          </button>
        </li>
      </ul>

    </div>
    <div class="home-nav-hamburger" id="home-nav-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>


  <div class="home-hero" rel="preload">
    <p class="home-hero-text">TAKE YOUR<br>GAME TO THE<br>NEXT LEVEL.</p>
    <button id="hero-button" class="nav-button button" onclick="location.href='/signup';">
      Sign Up<span class="iconify" data-icon="akar-icons:arrow-right"></span>
    </button>
  </div>

  <div class="home-section">
    <div class="home-section-image-wrapper">
      <div class="home-section-image">
      </div>
    </div>
    <div class="home-section-text-wrapper">
      <div class="home-section-text">
        <p>Train like the best to be the best. Enhance your performance.</p>
      </div>
      <button id="hero-button" class="nav-button button" onclick="location.href='/signup';">
        Sign Up<span class="iconify" data-icon="akar-icons:arrow-right"></span>
      </button>
    </div>

  </div>


  <footer class="home-footer">
    <p>&#169;FootballHero</p>
  </footer>
  <script src="/static/javascript/home.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>

</html>