<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>

<body>
    <div class="centeredpage-content-wrapper">
        <div class="centeredpage-content-body sign sign-in">
            <p class="sign-title" onclick="location.href='/';">FootballHero</p>
            <p class="sign-subtitle">Sign In.</p>
            <br>
            <p>please sign in below or <span onclick="location.href='/signup';" class="sign-link">create an
                    account</span></p>
            <br>
            {%with messages = get_flashed_messages()%}
            {% if messages %}
            {% for message in messages %}
            <div class="form_errormessage_wrapper" id="form_error">
                <p class="form_errormessage">
                    {{ message }}
                    <span id="close_message" onclick="form_error.style.display ='none' ">&times;</span>
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form class='sign-form' method="post">
                <input type="text" placeholder="username or email" class="sign-input-text" maxlength="150"
                    name="username" id="username" />
                <input type="password" placeholder="password" class="sign-input-text" maxlength="150" name="password"
                    id="password" />
                <br />
                <label for="fogot-password" class="sign-forgotpassword">
                    <a onclick="location.href='/reset-password';"> forgot my password?</a></label>
                <br />
                <input type="submit" class="button sign-form-button" value="sign in" />
            </form>
        </div>
    </div>
</body>

</html>