<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FootballHero</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="centeredpage-content-wrapper">
    <div class="centeredpage-content-body sign sign-up">
      <p class="sign-title" onclick="location.href='/';">FootballHero</p>
      <p class="sign-subtitle">Sign up.</p>
      <br>
      <p>please sign up below or <span onclick="location.href='/signin';" class="sign-link">login</span></p>
      <br>
      {%with messages = get_flashed_messages()%}
      {% if messages %}
      {%for message in messages %}
      <div class="form_errormessage_wrapper" id="form_error">
        <p class="form_errormessage">
          {{ message }}
          <span sid="close_message" onclick="form_error.style.display ='none' ">&times;</span>
        </p>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form class='sign-form' autocomplete="off" method="post">
        <input type="text" class="sign-input-text" placeholder="username" name="username" id="username"
          maxlength="150" />
        <br />
        <input type="email" class="sign-input-text" placeholder="email" name="email" id="email" maxlength="150" />

        <input type="password" class="sign-input-text" placeholder="password" name="password1" id="password1"
          maxlength="150" />
        <br />
        <input type="password" class="sign-input-text" placeholder="confirm password" name="password2" id="password2"
          maxlength="150" />

        <input type="submit" class="button sign-form-button" value="sign up" />
      </form>
    </div>
  </div>
</body>
<script src="{{url_for('static' , filename='javascript/sign.js')}}">

</script>


</html>