<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootballHero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
    <div class="sign-wrapper signin-wrapper">
        <div class="sign">
            <div class="sign-section"> 
                <div class="sign-formwrapper ">
                    <p>Sign In.</p>
                    <form method="post">
                        <input type="text" placeholder='username' class="sign-text signin-text" name ='username' id='username'>
                        <input type="text"  placeholder='password' class="sign-text signin-text" name='password' id='password'>
                        <br>
                        <label for="fogot-password" class="sign-forgotpassword"> <a href=""> forgot my password?</a></label>
                        <br>
                        <input type="submit" class="button signin-form-button" value="sign in">
                        <div class="sign-google-login">
                            <hr>
                            <label for="google_login">Or</label> 
                            <br>
                            <input type="button" class="button signin-form-button" value="google singin">
                        </div>
                    </form>
                </div>
            </div>
            <div class="sign-section sign-section-blue ">
                <div class="signin-section-blue">
                    <p>Dont Have a <br>account?</p>
                    <button class="button signin-button" onclick="location.href='/signup';">Sign In<span class="iconify" data-icon="akar-icons:arrow-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>