/* --------------- general styles --------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", "Poppins";
}

:root {
  --main-color: #0078e7;
  --secondary-color: #dbdbdb;
  --background-colour: #ffffff;
  --text-color-1: #000000;
  --text-color-2: #5e5e5e;
  --text-color-3: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.button {
  padding: auto;
  border: none;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
}

.dashboard-browse-program-card-more {
  color: var(--text-color-2);
  text-decoration: none;
}

.dashboard-browse-program-card-more:hover {
  cursor: pointer;
}

/* ----- centered screen element styles ----- */

.centeredpage-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
}

.centeredpage-content-body {
  background-color: var(--background-colour);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-width: 500px;
  min-height: 200px;
}

/* ----- loader element styles ----- */

.loader {
  border: 8px solid var(--secondary-color);
  border-top: 8px solid var(--main-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: modal-spin 1.5s linear infinite;
  display: none;
  /*found on https://www.w3schools.com/howto/howto_css_loader.asp*/
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* --------------- styles for error page --------------- */

.error-content-body {
  width: 40%;
  height: 70%;
}

.error-content-body-code {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30vh;
  letter-spacing: 0.5vw;
}

.error-content-body-name {
  font-size: 25px;
  color: var(--text-color-2);
}

.error-content-body-description {
  font-size: 15px;
  margin-top: 10px;
}

.error-content-body-buttons {
  margin-top: 10%;
}

.error-content-body-error-button {
  height: 40px;
  width: 90px;
  margin-left: 10px;
  background-color: var(--main-color);
  color: var(--text-color-3);
}

/* --------------- home page styles --------------- */
nav {
  width: 100%;
  height: 80px;
  top: 0;
  transition: 0.2s ease-in-out;
  position: fixed;
  -webkit-position: fixed;
  z-index: 10;
  background-color: var(--background-colour);
}

.navigation {
  width: 60%;
  margin: 0px auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.nav-name {
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.nav-butons ul {
  list-style: none;
  float: left;
  display: flex;
}

.nav-button {
  height: 40px;
  width: 90px;
}

#signin-button {
  margin-left: 10px;
  background-color: var(--main-color);
  color: var(--text-color-3);
}

#signup-button {
  background-color: var(--background-colour);
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.hero {
  height: 100vh;
  width: 60%;
  display: flex;
  align-items: center;
  transform: translateY(-10%);
  margin: 0px auto;
  margin-top: 5%;
  justify-content: space-between;
}

.hero-text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 5%;
}

.hero-text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color-2);
  margin-bottom: 8%;
}

#hero-button {
  background-color: var(--main-color);
  color: var(--text-color-3);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-button span {
  transform: translate(50%, 50%);
  width: 10px;
  align-self: center;
}

.hero-image {
  display: flex;
  align-items: center;
}

.hero-image img {
  height: 100%;

  float: left;
  position: absolute;
  z-index: -100;
  transform: translate(-100%, 10%);
}

.hero-down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 30px;
  color: var(--secondary-color);
}

.about {
  height: 50vh;
  display: flex;
  z-index: 100;
}

.about-section {
  width: 50%;
  height: 100%;
  padding: 60px;
  z-index: 1;
}

.our-story {
  color: var(--text-color-3);
  font-size: 16px;
  overflow: auto;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}

.our-story p {
  padding-top: 20px;
}

.our-people {
  background-color: var(--secondary-color);
}

.our-product {
  height: 80vh;
  width: 60%;
  display: flex;
  align-items: center;
  transform: translateY(-10%);
  margin: 0px auto;
  justify-content: space-between;
}

.product-section {
  width: 50%;
}

.product-image {
  z-index: -100;
  display: flex;
  align-items: center;
}

.product-image img {
  transform: translateX(-20%);
  position: absolute;
  width: 80%;
}

.product-text {
  margin-left: 15%;
}

.product-text h6 {
  font-style: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-text p {
  margin-bottom: 30px;
  font-size: 16px;
}

footer {
  height: 50px;
  width: 100%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

@media screen and (max-width: 1200px) {
  .hero-image {
    display: none;
  }

  .our-product {
    display: block;
    height: 60vh;
  }

  .product-image {
    position: initial;
    margin-top: 5%;
  }

  .product-image img {
    width: initial;
    transform: initial;
    width: 100%;
    min-width: 300px;
    margin: auto;
  }

  .product-text {
    margin-top: 50%;
    width: 70%;
    transform: translateY(200px);
  }

  .our-story p {
    margin-top: 20%;
  }
}

/* --------------- sign in and sign up styles --------------- */
.sign {
  width: 40%;
  max-width: 500px;
  min-width: 400px;

  border-radius: 50px;
  overflow: hidden;
  text-align: left;
  justify-content: start;
  padding-top: 40px;
  flex-direction: column;
  flex-grow: 1;
}

.sign-up {
  height: 50%;
  max-height: 500px;
  min-height: 450px;
}

.sign-in {
  height: 45%;
  max-height: 400px;
  min-height: 375px;
}
.sign-form {
  position: relative;
  flex-grow: 1;
}

.sign-input-text {
  height: 30px;
  width: 100%;
  border: none;
  margin: 5px 0;
  border-radius: 15px;
  padding-left: 15px;
  background-color: var(--secondary-color);
}
.sign-title {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}

.sign-title:hover {
  cursor: pointer;
}

.sign-subtitle {
  font-size: 40px;
  color: var(--text-color-2);
  font-weight: bold;
}

.sign-forgotpassword a {
  width: 50px;
  height: 10px;
  text-decoration: none;
  color: var(--text-color-2);
  margin-left: calc(100% - 100px);
  font-size: 10px;
}

.sign-form-button {
  position: absolute;
  height: 40px;
  width: 90px;
  background-color: var(--main-color);
  color: var(--background-colour);
  right: 0;
  bottom: 15px;
}

.sign-link {
  text-decoration: underline;
  color: var(--main-color);
}

.sign-link:hover {
  cursor: pointer;
}

/* ----- form error message stylesv ----- */
.form_errormessage_wrapper {
  margin-top: -10px;
  background-color: rgba(255, 0, 0, 0.8);
  width: 100%;
  border-radius: 25px;
}

.form_errormessage_wrapper p {
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
}

.form_errormessage_wrapper p span {
  float: right;
}

.form_errormessage_wrapper p span:hover {
  cursor: pointer;
}

/* --------------- reset password ---------------*/

.reset-password-email {
  height: 25%;
  max-height: 400px;
  min-height: 340px;
}

.reset-password-form {
  height: 30%;
  max-height: 425px;
  min-height: 375px;
}

/* --------------- verify page styles --------------- */
.verify-content-body {
  width: 40%;
  height: 50%;
}

.verify-content-body-name {
  font-size: 25px;
  color: var(--text-color-2);
}
.verify-content-body-description {
  font-size: 15px;
  margin-top: 10px;
}

/* --------------- dashboard nav styles --------------- */
.dashboard-wrapper {
  display: grid;
  grid-template:
    "lefthead tophead"
    "lefthead body";
  grid-template-columns: max(200px, 17.5%) auto;
  grid-template-rows: max(80px, 10%) auto;
  height: 100vh;
  width: 100vw;
}

/* --- nav top styles --- */
.dashboard-navtop {
  grid-area: tophead;
  position: sticky;
  top: 0;
  background-color: var(--background-colour);
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.dashboard-navsearch {
  margin-right: 30px;
  margin-left: auto;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 30%;
  border-radius: 20px;
}

.dashboard-navsearch input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 80%;
  margin-left: 20px;
}

.dashboard-navsearch .iconify {
  margin-right: 20px;
}

.dashboard-nav-hamburger {
  cursor: pointer;
  display: none;
  margin-right: 30px;
  margin-left: auto;
}

.dashboard-nav-hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--text-color-1);
}

.dashboard-navtop .dashboard-navlogo {
  display: none;
}

/* --- nav body syles --- */
.dashboard-body {
  grid-area: body;
  background-color: var(--secondary-color);
  box-shadow: inset 3px 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

/* --- nav left syles --- */
.dashboard-navleft {
  grid-area: lefthead;
  position: fixed;
  top: 0;
  background-color: var(--background-colour);
  height: 100%;
  display: grid;
  grid-template-rows: 10% 70% auto;
  width: max(200px, 17.5%);
  z-index: 1;
}

.dashboard-navlogo {
  grid-row: 1;
  font-size: 20px;
  color: var(--main-color);
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
}

.dashboard-navnavigation {
  grid-row: 2;
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
}

.dashboard-nav-navelement {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.dashboard-nav-navelement:hover {
  cursor: pointer;
}

.dashboard-nav-navelement-icn {
  border-radius: 50%;
  background-color: var(--background-colour);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--main-color);
}

.dashboard-nav-navelement-active {
  background-color: var(--main-color);
  color: var(--background-colour);
}

.dashboard-navlogout {
  grid-row: 3;
  bottom: 0;
  font-size: 10px;
  text-decoration: none;
  color: var(--text-color-1);
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dashboard-navlogout .iconify {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* ---------- style changes on smaller widths ---------- */
@media screen and (max-width: 800px) {
  .dashboard-wrapper {
    display: grid;
    grid-template:
      "tophead"
      "body";
    grid-template-columns: auto;
    grid-template-rows: max(80px, 10%) auto;
  }

  /* --- nav top styles --- */
  .dashboard-navleft {
    position: fixed;
    left: 0;
    top: -100%;
    margin-top: max(80px, 10%);
    gap: 0;
    height: 40%;
    min-height: 400px;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px rgba(0, 0, 0, 0.05);
    z-index: 5;
    display: none;
  }

  .dashboard-navleft.active {
    top: 0;
    display: grid;
  }

  .dashboard-navsearch {
    display: none;
  }

  .dashboard-navleft .dashboard-navlogo {
    display: none;
  }

  /* --- hamburger menu styles ---*/
  .dashboard-nav-hamburger {
    display: block;
  }

  .dashboard-nav-hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .dashboard-nav-hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .dashboard-nav-hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* --- nav top menu styles --- */

  .dashboard-navtop .dashboard-navlogo {
    display: flex;
  }
}

/* --------------- dahboard pages styles --------------- */

.dashboard-body-first {
  margin-top: 40px;
}

.dashboard-body-element {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-colour);
  padding: 20px;
  border-radius: 30px;
}

.dashboard-body-exercise-first {
  display: flex;
  align-items: center;
}

.dashboard-body-exercise-first .dashboard-body-tag:not(:first-child) {
  margin-left: 30px;
}

.dashboard-body-tag-info p:not(:first-child) {
  color: var(--text-color-2);
}

.dashboard-body-icon {
  height: 120px;
  width: 120px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-body-icon .iconify {
  width: 60%;
  height: 60%;
  color: var(--text-color-2);
}

.dashboard-body-tag p:first-child {
  margin-bottom: 10px;
}

.dashboard-body-exercise {
  margin-top: 20px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 10% auto;
  height: 60%;
}

.dashboard-exercise-video {
  height: 90%;
  width: 70%;
  margin: auto;
  margin-left: 0;
}

.dashboard-exercise-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.dashboard-exercise-button:hover {
  cursor: pointer;
}

.dashboard-exercise-instructions {
  height: 90%;
  width: 60%;
  margin: auto;
  margin-left: 0;
}

.dashboard-exercise-button:nth-child(1) {
  margin-bottom: 15px;
}

.dashboard-exercise-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;

  width: 50px;
  height: 100%;
}

.dashboard-body-create {
  height: 90%;
  min-height: 600px;
}

.create-form-element {
  background-color: var(--secondary-color);
  border: none;
  margin: 5px 0;
  border-radius: 15px;
  padding-left: 15px;
}

.create-form-text {
  height: 30px;
  width: 75%;
}

.create-form-exercise {
  width: 100%;
  height: 70%;
  padding: 20px;
}

.create-form {
  height: 90%;
}

.create-form-submit {
  background-color: var(--main-color);
  border: none;
}

.create-form-button {
  margin-top: 5px;
  height: 40px;
  width: 90px;
  background-color: var(--main-color);
  color: var(--background-colour);
}

.create-form-label {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10%;
}

.create-form-exercise-plus {
  color: var(--text-color-2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#dashboard-create-exercise-modal {
  display: none;
}

.dashboard-create-form-exercisesbody {
  width: 100%;
  height: 100%;
  background-color: var(--background-colour);
  background-color: var(--background-colour);
  height: 80px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
}

.dashboard-create-form-removeexercise {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: rotate(45deg);
  font-size: 15px;
}
.dashboard-create-form-removeexercise:hover {
  cursor: pointer;
}

#dashboard-create-form-exercisesbody-title {
  font-size: 20px;
}

#dashboard-create-form-exercisesbody-subtitle {
  font-size: 10px;
  color: var(--text-color-2);
}

.create-form-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 80px);
  overflow: scroll;
}

.create-form-exercise-plusinline {
  background-color: var(--background-colour);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashboard-create-exercise-modal {
  background-color: var(--background-colour);
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 70%;
  border-radius: 30px;
}

.dashboard-create-modal-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 40px auto 40px;
  row-gap: 10px;
}

.dashboard-create-modal-submit {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.dashboard-create-modal-button {
  height: 40px;
  width: 10%;
  background-color: var(--main-color);
  color: var(--background-colour);
}

.dashboard-create-modal-button-cancel {
  height: 40px;
  width: 10%;
  background-color: var(--secondary-color);
  color: var(--text-color-1);
}

.dashboard-create-modal-forminputs {
  display: grid;
  align-items: center;
  grid-template-columns: calc(10% - 30px) 45% 35% 10%;
  column-gap: 10px;
}

.dashboard-create-modal-select {
  -webkit-appearance: none;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height ="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  width: 100%;
  height: 40px;
  padding-left: 20px;

  background-color: var(--secondary-color);
}

.dashboard-create-modal-select :nth-child(1) {
  color: var(--text-color-2);
}

.dashboard-create-modal-text {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding-left: 20px;

  background-color: var(--secondary-color);
  color: var(--text-color-1);
}

.dashboard-create-modal-search {
  height: 40px;
  width: 100%;
  border: none;
  background-color: var(--main-color);
  color: var(--text-color-3);
}

.dashboard-create-modal-forminputs p {
  font-weight: bold;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.dashboard-create-modal-exercise {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 80px);
  overflow-y: scroll;
}

.dashboard-create-modal-exercise-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard-create-modal-message {
  display: none;
}

.dashboard-create-modal-exercisesbody {
  background-color: var(--background-colour);
  height: 80px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

#dashboard-create-modal-exercisesbody-title {
  font-size: 20px;
}

#dashboard-create-modal-exercisesbody-subtitle {
  font-size: 10px;
  color: var(--text-color-2);
}

.dashbord-create-errormessage-wrapper {
  display: none;
  background-color: rgba(255, 0, 0, 0.8);
  width: 100%;
  border-radius: 25px;
  margin-bottom: -15px;
}

.dashbord-create-errormessage-wrapper div {
  font-size: 12px;
  font-weight: normal;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}

.dashbord-create-errormessage-wrapper div span {
  float: right;
}

.dashboard-body-program-info {
  max-width: 20ch;
  word-wrap: break-word;
}

.dashboard-body-tag-info p:first-child {
  font-size: 30px;
  font-weight: bold;
}
.dashboard-body-program-first {
  display: flex;
  align-items: center;
}
.dashboard-program-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 30px;
  height: 120px;
}

.dashboard-program-info-settings {
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: var(--text-color-2);
}

.dashboard-program-info-settings a {
  background-color: var(--secondary-color);
  color: var(--text-color-2);
  border-radius: 10px;
  margin-left: 5px;
  padding: 2px 5px;
  text-decoration: none;
}

.dashboard-program-info-settings a:first-child {
  margin-left: 10px;
}
.dashboard-program-info-settings a:hover {
  cursor: pointer;
}

.dashboard-program-actions-wrapper {
  display: flex;
  gap: 5%;
}

.dashboard-program-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 100%;
  text-align: center;
}

.dashboard-program-actions .dashboard-program-actions-like-icon .iconify {
  width: 50px;
  height: 50px;
  color: var(--main-color);
}

.dashboard-program-actions .dashboard-program-actions-like-icon :hover {
  cursor: pointer;
}

.dashboard-program-actions-disabled {
  display: none;
}

.dashboard-program-exercises-wrapper {
  margin-top: 20px;

  height: 60%;
  min-height: 400px;
}

.dashboard-program-exercises {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 80px);
  overflow: scroll;
}

.dashboard-program-exercise {
  background-color: var(--background-colour);
  height: 80px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.dashboard-create-modal-exercisesbody-title {
  font-size: 20px;
}

.dashboard-create-modal-exercisesbody-subtitle {
  font-size: 10px;
  color: var(--text-color-2);
}

.dashboard-create-modal-exercisesbody-link {
  color: var(--text-color-2);
  font-size: 13px;
}

.dashboard-create-modal-exercisesbody-link:hover {
  cursor: pointer;
}

.dashboard-body-account-first {
  display: flex;
  align-items: center;
}
.dashboard-account-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 30px;
  height: 120px;
}

.dashboard-account-info-username {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.dashboard-account-info-subtitle {
  color: var(--text-color-2);
}

.dashboard-account-info-settings {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.dashboard-account-info-settings-button {
  background-color: var(--secondary-color);
  color: var(--text-color-2);
  border-radius: 10px;
  margin-left: 5px;
  padding: 2px 5px;
  text-decoration: none;
}

.dashboard-account-info-settings-button:hover {
  cursor: pointer;
}

.dashboard-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.dashboard-account-modal {
  display: none;
  background-color: var(--background-colour);
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 20px;
  width: 40%;
  height: 40%;
  min-width: 500px;
  border-radius: 30px;
  position: relative;
  min-height: 330px;
}

.dashboard-account-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.dashboard-account-modal-close:hover {
  cursor: pointer;
}
.dashboard-account-modal-close p {
  transform: rotate(45deg);
  font-size: 20px;
}
.dashboard-account-modal-form-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.dashboard-account-modal-form-paragraph {
  color: var(--text-color-2);
  margin-bottom: 5px;
}

.dashboard-account-modal-form-input {
  background-color: var(--secondary-color);
  height: 30px;
  width: 75%;
  border: none;
  margin: 5px 0;
  border-radius: 15px;
  padding-left: 15px;
}

.dashboard-account-modal-form-input:first-child {
  margin-top: 30px;
}
.dashboard-account-modal-form-button {
  height: 40px;
  width: 90px;
  background-color: var(--main-color);
  color: var(--background-colour);
  margin-top: 10px;
  position: absolute;
  bottom: 30px;
}

.dashboard-account-modal-form-error-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0.8);
  width: 100%;
  border-radius: 25px;
  padding: 5px;
  padding-left: 10px;
  display: none;
  margin-bottom: 10px;
  margin-top: -15px;
}

.dashboard-account-modal-form-error-close {
  transform: rotate(45deg);
}
.dashboard-account-modal-form-error-close:hover {
  cursor: pointer;
}

.dashboard-account-programs-wrapper {
  margin-top: 20px;
  height: 60%;
  min-height: 400px;
}
.dashboard-account-programs {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 120px);
  overflow-y: scroll;
}
.dashboard-account-programs-card {
  background-color: var(--background-colour);
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.dashboard-account-programs-card p:first-child {
  color: var(--text-color-1);
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.dashboard-account-programs-card p {
  color: var(--text-color-2);
  margin-bottom: 5px;
}

.dashboard-account-programs-card a {
  color: var(--text-color-2);
}

.dashboard-account-programs-card a:hover {
  cursor: pointer;
}

/* ---------- browse page ---------- */

.dashboard-browse-form {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  grid-column-gap: 10px;
}

.dashboard-browse-form-search {
  height: 40px;
  background-color: var(--main-color);
  color: var(--text-color-3);
}

.dashboard-browse-form-select {
  -webkit-appearance: none;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height ="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  width: 100%;
  height: 40px;
  padding-left: 20px;

  background-color: var(--secondary-color);
}
.dashboard-browse-form-text {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  background-color: var(--secondary-color);
}

.dashboard-body-browse {
  margin-top: 20px;
}
.dashboard-browse-program {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 15px;
  min-height: 400px;
  padding: 20px;
}

.dashboard-browse-programs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 200px);
}

#dashboard-browse-program-sentinel {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
}

.dashboard-browse-program-card {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--background-colour);
}

.dashboard-browse-program-card-title {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.dashboard-browse-program-card-user {
  color: var(--text-color-2);
  text-decoration: none;
}

.dashboard-browse-program-card-user:hover {
  cursor: pointer;
}

.dashboard-browse-program-card-likes {
  color: var(--text-color-2);
  text-decoration: none;
}
